html {
    font-size: 124%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(240, 78%, 98%); 
    background-image: url("./img/bg-top.svg"), url("./img/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-origin: border-box, border-box;
    background-position: right top, 0% 124%;
}

#header{
    text-align: center;
    margin-top: 4rem;
   }

#header > h1 {
    font-size: 1.7rem;
    color: hsl(233, 13%, 49%);
}

#header > #toggle-bar{
    margin-top: 2.4rem;
}

#toggle-bar > .tb-labels{
    vertical-align: 50%;
    font-size: .76rem;
    color: hsl(234, 14%, 74%);
}

#toggle-bar > #annually{
    margin-right: 1rem;
}

#toggle-bar > #monthly{
    margin-left: 1rem;
}

#toggle-bar > #toggle-container{
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    width: 2.88rem;
    height: 1.65rem;
    padding: .225rem;
    border-radius: 2rem;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

#toggle-bar > #toggle-container:hover{
    background-image: none;
    background-color: hsl(236, 61%, 83%) ;
}


#toggle-container > #toggle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: white;
}

#pricing-div-container{
    display: flex;
    justify-content: center;
    margin-top: 2.8rem;
    text-align: center;
}

#pricing-div-container > .pricing-divs{
    width: 18.2rem;
    box-sizing: border-box;
    border-radius: 3%;    
}



.pricing-divs:not(#professional-div) {
    height: 22.7rem;
    margin-top: 1.15em;
    padding-top: 1.2rem;
    background-color: white;
    color: hsl(233, 13%, 49%);

}


#pricing-div-container > .pricing-divs > h2 {
    font-size: .9rem;
}


#pricing-div-container > .pricing-divs > h3 {
    margin-top: .5rem;
    margin-bottom: .4rem;
    font-size: 3.6rem;
}


#pricing-div-container > .pricing-divs:not(#professional-div) > h3 {
    color: hsl(232, 13%, 33%);
}

#pricing-div-container > #professional-div {
    height: 25rem;
    padding-top: 2.4rem;
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
}

#pricing-div-container > .pricing-divs > h3 > span {
    vertical-align: 15%;
    margin-right: .15rem;
    font-size: 2.1rem;
}



#pricing-div-container .details-div > p{
    margin: 0 2rem;
    padding: .8rem 0;
    font-size: .78rem;
}

#pricing-div-container  .details-div:nth-child(2n+1) > p{
    border-top: 1.5px solid #dddddd;
   
}

#pricing-div-container  .details-div:nth-child(2n+1) > p:nth-child(3){
    border-bottom: 1.5px solid #dddddd;
   }



#pricing-div-container  .details-div:nth-child(2) > p{
    border-top: 1.5px solid white;  
}

#pricing-div-container  .details-div:nth-child(2) > p:nth-child(3){
    border-bottom: 1.5px solid white;  
}

#pricing-div-container > .pricing-divs > button {
    width: 14rem;
    height: 2.1rem;
    margin-top: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    font-size: .65rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;

}

#pricing-div-container > .pricing-divs:nth-child(2n+1) > button {
   background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
   color: white;
}

#pricing-div-container > .pricing-divs:nth-child(2n+1) > button:hover {
    border: 1px solid hsl(233, 13%, 49%);
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
 }

#pricing-div-container > .pricing-divs:nth-child(2) > button {
    background-color: white;
    color: hsl(237, 63%, 64%);
 }

 #pricing-div-container > .pricing-divs:nth-child(2) > button:hover {
    border: 1px solid white;
    background-color: transparent;
    color: white;
 }
    
/*Responsive design at 375px*/

@media (max-width: 376px) {

    html{
        font-size: 110%;
    }

    body{
        background-image: url("./img/bg-top.svg");
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: 470% -10%;
        background-size: 88%;
      
    }

    #pricing-div-container{
        flex-direction: column;
        align-items: center;
    }

    #pricing-div-container > #professional-div {
        height: 22.7rem;
        padding-top: 1.2rem;
    }

    #pricing-div-container > .pricing-divs{
        margin-top: 2rem; 
    }

}



